.homepage__banner-block {
  &__list {
    text-align: center;
    
    &-title {
      font-size: 15px;
      font-weight: bold;
      text-decoration: none;
      padding-bottom: 8px;

      a {
        text-decoration: none;

        &:hover {
          color: #fc820a;
        }
      }
    }

    &-image {
      width: 100%;
    }
  }
}