.unique-sale-book {
  background: #fcf4dd;
  padding: 16px 0;

  .unique-book {
    padding-right: 0;
  }

  &__wrap {
    margin-top: 16px;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2,49%);
    grid-gap: 5px;
  }

  .book-item {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 4px;
    margin-bottom: 8px;
    margin-right: 8px;

    &__header {
      img {
        max-width: 100%;
      }
    }

    &__content {
      margin-top: 14px;
      padding-bottom: 24px;
      padding-left: 8px;
    }

    &__text {
      display: block;
      color: #27272A;
      font-size: 12px;
      line-height: 16px;
      padding: 8px 0;
    }

    &__vector {
      span {
        color: #808089;
        font-size: 10px;
        line-height: 12px;
      }
    }

    &__cost {
      &-money {
        color: #27272A;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        padding-right: 8px;
      }

      &-discount {
        background: #FF424F;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        padding: 4px;
        border-radius: 5px;
      }
    }

    &__price {
      color: #808089;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      text-decoration-line: line-through;
    }

    &__button {
      margin-top: auto;
      border: none;
      border-radius: 25px;
      background-color: #FF424F;
      cursor: pointer;
    }
  }
}
